/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Rremove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Rremove list styles on ul, ol elrements with a list role, which suggests default styling will be rremoved */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elrements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Rremove all animations, transitions and smooth scroll for people that prefer not to see threm */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-family: "Roboto", sans-serif;

  --primary-color: hsl(211, 100%, 46%);
  --secondary-color: hsl(216, 10%, 10%);
  --tertiary-color: hsl(211, 25%, 5%);
  --quaternary-color: hsl(211, 95%, 23%);
  --sub-hero-color: hsl(210, 23%, 5%);
  --sub-secondary-color: hsl(0, 0%, 18%);

  --red: hsl(0, 95%, 23%);
  --green: hsl(126, 95%, 23%);

  --text-color: hsl(211, 100%, 90%);

  --white: hsl(0, 0%, 100%);

  --font-size-h1: 2.5rem;
  --font-size-h2: 2em;
  --font-size-h3: 1.5em;
  --font-size-span: 1em;
  --font-size-compact: 0.75em;
  --font-size-cta: 1.2em;

  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --subtle-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --border-radius-default: 10px;
  --border-radius-large: 20px;

  --page-padding-top: 1rem;
  --page-padding-bottom: 1rem;
  --page-padding-left: 1rem;
  --page-padding-right: 1rem;

  --page-padding: var(--page-padding-top) var(--page-padding-right)
    var(--page-padding-bottom) var(--page-padding-left);
  --button-padding: 0.5rem 1rem;
  --default-gap: 0.75rem;

  --cta-width: 75vw;
  --vip-benefit-icon-size: 2.5rem;

  background-color: var(--tertiary-color);
}

@media (min-width: 768px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 2em;
    --font-size-cta: 1.5em;

    --page-padding-top: 2rem;
    --page-padding-bottom: 2rem;
    --page-padding-left: 5rem;
    --page-padding-right: 5rem;

    --button-padding: 0.75rem 1.5rem;
    --default-gap: 1rem;

    --cta-width: 70vw;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-h1: 4rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.5rem;
    --font-size-cta: 1.75em;

    --page-padding-top: 2rem;
    --page-padding-bottom: 2rem;
    --page-padding-left: 10rem;
    --page-padding-right: 10rem;

    --button-padding: 1rem 2rem;
    --default-gap: 1.5rem;

    --cta-width: 60vw;
  }
}

@media (min-width: 1280px) {
  :root {
    --cta-width: 55vw;
    --vip-benefit-icon-size: 4rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --cta-width: 50vw;
  }
}

@media (min-width: 1920px) {
  :root {
    --cta-width: 45vw;
  }
}
