.vip-page-container {
  height: calc(100vh - 100px);

  background: var(--tertiary-color);

  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .vip-page-container {
    flex-direction: row-reverse;
  }
}

/* media query for rotated device */
@media (max-height: 500px) {
  .vip-page-container {
    height: 200vh;
  }
}

.top-pane {
  border-bottom: 50px solid var(--primary-color);

  background-image: url("/src/assets/images/terrorist.png");
  background-size: cover;
  background-repeat: no-repeat;

  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);

  position: relative;

  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .top-pane {
    flex: 1 1 0px;
    border-bottom: none;
    border-left: 50px solid var(--primary-color);
    padding-left: var(--page-padding-bottom);
    padding-right: var(--page-padding-top);
  }
  .hidden {
    display: block;
  }
}

@media (min-width: 1280px) {
  .top-pane {
    max-width: 45vw;
  }
}

.top-pane::after {
  content: "Join Now!";
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - var(--page-padding-right) - var(--page-padding-left));
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: var(--white);
}

@media (min-width: 1024px) {
  .top-pane::after {
    content: none;
  }
}

.intro-statement {
  display: flex;
  flex-direction: column;

  margin-top: var(--page-padding-top);
  margin-bottom: var(--page-padding-bottom);
}

.intro-statement__title {
  display: flex;
  align-items: center;
  font-size: calc(var(--font-size-h1) - 6px);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  gap: var(--default-gap);
}

.intro-statement__title img {
  height: var(--font-size-h1);
}

.intro-statement__subtitle {
  font-size: var(--font-size-span);
  color: white;
}

@media (min-width: 1024px) {
  .intro-statement__title {
    gap: calc(var(--default-gap) / 2);
    font-size: calc(var(--font-size-h3) - 6px);
  }
  .intro-statement__title img {
    height: var(--font-size-h3);
  }
}

@media (min-width: 1280px) {
  .intro-statement__title {
    gap: calc(var(--default-gap) / 2);
    font-size: calc(var(--font-size-h1) - 10px);
  }
  .intro-statement__title img {
    height: var(--font-size-h1);
  }
}

/* Make .bottom-pane have a rounded scroll bar */
.bottom-pane::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.bottom-pane::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.bottom-pane::-webkit-scrollbar-track {
  background-color: var(--tertiary-color);
}

.bottom-pane {
  flex: 1 1 0px;
  gap: var(--default-gap);
  max-height: 100vh;
  overflow: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
