.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  padding: 0 var(--padding-large);
}

.logo {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  color: var(--color-tertiary);

  line-height: 2em;
}
