.header-container {
  background-color: var(--tertiary-color);
  padding: 0 var(--page-padding-right);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  width: 150px;
}

@media (min-width: 768px) {
  .logo {
    width: 200px;
  }
}

.sign-in-button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: var(--button-padding);
  border-radius: var(--border-radius-default);
  border: none;
  cursor: pointer;
  box-shadow: var(--subtle-drop-shadow);
  font-size: var(--font-size-compact);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--default-gap);

  transition: all 0.1s linear;
}

.sign-in-button svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .sign-in-button {
    padding: var(--button-padding);
    font-size: var(--font-size-span);
  }
}

/* .sign-in-button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: var(--button-padding);
  border-radius: var(--border-radius-default);
  border: none;
  cursor: pointer;
  box-shadow: var(--subtle-drop-shadow);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-span);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--default-gap);

  transition: all 0.1s linear;
} */

.sign-in-button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.logged-in {
  display: flex;
  align-items: center;
}

.logged-in__avatar {
  display: flex;
  align-items: center;
  gap: var(--default-gap);
}

.logged-in__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: var(--default-gap);
  border: 2px solid var(--primary-color);
}

.logged-in__username {
  font-size: var(--font-size-compact);
  font-weight: var(--font-weight-bold);
  color: var(--white);
}
