form {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  padding: var(--default-gap);
  border-radius: var(--border-radius-default);
  background-color: var(--secondary-color);
}

.payment-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--default-gap);
  padding: var(--button-padding);
  border-radius: var(--border-radius-default);
  background-color: var(--primary-color);
  cursor: pointer;
  width: fit-content;
  border: none;
  color: var(--white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-span);
  margin-bottom: var(--page-padding-bottom);
}

@media (min-height: 800px) and (orientation: landscape) {
  .payment-button {
    padding: 0.5em 1em;
  }
}

/* create a spinner */
.button-spinner {
  border: 4px solid var(--white);
  border-top: 4px solid var(--primary-color);
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
