.logged-in {
  color: var(--white);
  padding-left: var(--page-padding-bottom);
  padding-right: var(--page-padding-bottom);
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap) * 4);
}

@media (min-width: 1024px) {
  .logged-in {
    gap: var(--default-gap);
  }
}

.logged-in__welcome {
  font-size: var(--font-size-h2);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.choose-package__title {
  font-size: var(--font-size-h3);
  margin-bottom: var(--page-padding-bottom);
}

@media (min-width: 1024px) {
  .choose-package__title {
    font-size: var(--font-size-cta);
  }
}

.choose-package__packages {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: calc(var(--default-gap) * 2);
}

@media (min-width: 1024px) {
  .choose-package__packages {
    gap: var(--default-gap);
  }
}

.no-refund-callout {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-compact);
  font-weight: var(--font-weight-bold);

  background: var(--secondary-color);
  color: var(--sub-secondary-color);

  gap: var(--default-gap);
  border-radius: var(--border-radius-default);
  padding: var(--font-size-compact);

  width: fit-content;
}

.no-refund-callout__icon svg {
  width: var(--font-size-compact);
  height: var(--font-size-compact);
}
