.vip-benefits__benefit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--default-gap);
}

.vip-benefits__benefit__icon span svg {
  color: var(--primary-color);
  width: var(--vip-benefit-icon-size);
  height: var(--vip-benefit-icon-size);
}

.vip-benefits__benefit__information {
  display: flex;
  flex-direction: column;
}

.vip-benefits__benefit__title {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

@media (min-height: 600px) and (orientation: landscape) {
  .vip-benefits__benefit__title {
    font-size: var(--font-size-span);
  }
  .vip-benefits__benefit__description {
    font-size: var(--font-size-compact);
  }
}

@media (min-height: 800px) and (orientation: landscape) {
  .vip-benefits__benefit__title {
    font-size: calc(var(--font-size-span) + 0.5em);
  }
  .vip-benefits__benefit__description {
    font-size: var(--font-size-span);
  }
}
